
#Accenture_logo{
    width: 40%;
    height: auto;
    min-width: 60px;
    min-height: 60px;
    position: absolute;
    left: 10%;
    top: 21.5rem;
}

#Accenture{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 68.5%;
    top: 35rem;
    color: #b718c5;
}

#Direccion1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    left: 67.5%;
    top: 40rem;
}

#formador1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    left: 66%;
    top: 45.5rem
}

#Numero1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    left: 68%;
    top: 43rem
}


#torsa_logo{
    width: 40%;
    height: auto;
    min-width: 60px;
    min-height: 60px;
    position: absolute;
    top: 1100px;
    left: 10%;
}

#Torsa{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 68.5%;
    top: 69rem;
    color: #c51818;
}

#Direccion2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    left: 67.5%;
    top: 73rem;
}

#formador2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    left: 66%;
    top: 77.5rem;
}

#Numero2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    left: 66.5%;
    top: 75.5rem
}

#sipa_logo{
    width: 30%;
    height: 30%;
    min-width: 60px;
    min-height: 60px;
    position: absolute;
    top: 200%;
    left: 10%;
    background-color: black;
}

#sipadam{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    left: 67.5%;
    top: 95rem;
}

#Direccion3{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    left: 67.5%;
    top: 100rem;
}

#formador3{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    left: 66%;
    top: 105rem;
}

#Numero3{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    left: 66.5%;
    top: 102.5rem
}

#ntt_logo{
    width: 30%;
    height: 30%;
    min-width: 60px;
    min-height: 60px;
    position: absolute;
    top: 265%;
    left: 10%;
}

#NTT{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    left: 67.5%;
    top: 125rem;
    color: rgb(6, 137, 141);
}

#Direccion4{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    left: 67.5%;
    top: 130rem;
}

#formador4{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    left: 66%;
    top: 135rem;
    padding-bottom: 200px;
}

#Numero4{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    left: 66.5%;
    top: 132.5rem
}

:root {
    --pc: #174689;
    --bg: #ebebeb;
    --lc: black;
    --hv: #efb810;
    --border: .1rem solid #1466c3;
}

.header {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 6rem;
}

.search{
    display: inline;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
}

.busca{
    font-size: 2rem;
    text-align: center;
    color: #174689;
}

#logout{
    color: var(--pc);
}

#logout:hover{
    color: var(--hv);
}